
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f7fa;
    color: #333;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #1e3a8a;
    margin-bottom: 40px;
}

h2 {
    color: #1e40af;
    margin-top: 40px;
    margin-bottom: 20px;
}

td {
    padding: 30px;
}

img {
    max-width: 100%;
    border-radius: 8px;
}


input {
    width: 120px;
    height: 30px;
    border-radius: 4px;
}

button {
    background-color: #2563eb;
    color: white;
    height: 40px;
    border-radius: 4px;
}



p span {
    font-weight: bold;

}



